<h1>Profiles#show</h1>
<p>マイページ（ユーザーページ）</p>

<%= image_tag @user.profile.avatar.thumb80.url, class: 'icon' %>

ユーザー名：
<%= @profile.name %><br >
メールアドレス：
<%= @profile.user.email %><br >
自己紹介文：<br >
<%= @profile.introduction %><br >

<%# 自分と他のユーザーのページで表示内容を変えたい %>
<% if !current_user.blank? && current_user.id == @user.id %>
  <%= link_to 'プロフィール変更', edit_profile_path %> │
  <%= link_to 'プレイリスト', playlists_path %>
<% else %>
  <%# 今後メッセージ画面へのリンクを追加 %>
  <p>メッセージを送る</p>
<% end %>

<%# ユーザーの投稿を表示 %>
<% @user.sound_posts.each do |sound_post| %>
  <div class="post">
    <strong><%= link_to sound_post.title, sound_post_path(sound_post.id) %></strong><br >
    <%#  楽器の名前を表示 %>
    <%= sound_post.instrument.name %><br >
    <audio src="<%= "#{sound_post.sound_source}" %>" controls="">
      <!-- <a src="<%= "#{sound_post.sound_source}" %>">ダウンロード</a> -->
    </audio>
  </div>

<% end %>
