<div class="side-section-wrapper">
  <div class="side-section">

    <div class="container">
      <% if user_signed_in? %>

        <div class="user-profile">
          <%= image_tag current_user.profile.avatar.thumb80.url, class: 'icon' %>
          <p><%= current_user.profile.name %></p>
        </div>

        <div class="side-section__menu">
          <div class="side-section__menu-items">
            <%= link_to rooms_path do %>
              <i class="far fa-comments fa-2x"></i><br>
              <p>メッセージ</p>
            <% end %>
          </div>
          <div class="side-section__menu-items">
            <%= link_to playlists_path do %>
              <i class="fas fa-music fa-2x"></i>
              <p>プレイリスト</p>
            <% end %>
          </div>
          <div class="side-section__menu-items">
            <%= link_to user_profile_path(current_user) do %>
              <i class="fas fa-user-cog fa-2x"></i>
              <p>マイページ</p>
            <% end %>
          </div>
        </div>
        <hr>

        <div class="">
          <%= link_to new_sound_post_path, class: 'btn btn-upload' do %>
            <i class="fas fa-upload"></i><strong> アップロード</strong>
          <% end %>
        </div>

      <% else %>
        <%= link_to "ログイン/新規登録", new_user_session_path, class: 'btn btn-outline-primary' %>
      <% end %>
      <hr>

    </div>

      <div class="category">
        <h6>楽器で探す</h6>
        <%# 楽器名はとりあえず仮 %>
        <ul class="category-list">
          <li><i class="fas fa-caret-down"></i> ピアノ</li>
          <li><i class="fas fa-caret-down"></i> ギター</li>
          <li><i class="fas fa-caret-down"></i> ベース</li>
          <li><i class="fas fa-caret-down"></i> シンセサイザー</li>
          <li><i class="fas fa-caret-down"></i> ドラム</li>
        </ul>
      </div>
  </div>
</div>
