<h1>投稿を編集</h1>

<%= form_with model: @sound_post do |f| %>
  <div class="field">
    <%= f.label :title, "タイトル" %><br >
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :instrument_id %><br >
    <%= f.collection_select :instrument_id, @instruments, :id, :name, {selected: @sound_post.instrument_id} %>
  </div>

  <div class="field">
    <%= f.label :description, "説明文" %><br >
    <%= f.text_area :description %>
  </div>

  <%= f.submit "変更を保存" %>
<% end %>

<%= link_to 'キャンセル', sound_post_path(@sound_post) %>
