<h2>音源ファイル一覧ページ</h2>

<% if user_signed_in? %>
  <%= link_to "アップロードする", new_sound_post_path %>
<% end %>

<% @sound_posts.each do |sound_post| %>

  <div class="post">
    ▼<%= sound_post.user.name %>が投稿<br >
    <%= sound_post.title %><br >
    <%= sound_post.description %><br >
    <%# 楽器の名前を表示 %>
    <%= sound_post.instrument.name %><br >
    <audio src="<%= "#{sound_post.sound_source}" %>" controls="">
      <!-- <a src="<%= "#{sound_post.sound_source}" %>">ダウンロード</a> -->
    </audio>

  <%# プレイリスト %>
    <%= link_to 'プレイリストに追加', new_sound_post_playlist_path(sound_post_id: sound_post.id) %>
  </div>
<% end %>
