<!-- 仮作成 -->
<h2>ファイルのアップロード</h2>

<%= form_with model: @sound_post do |f| %>

  <div class="field">
    <%= f.label :sound_source %><br >
    <%= f.file_field :sound_source, :size => 140 %>
  </div>

  <%# プルダウンから楽器を一つ選択 %>
  <div class="field">
    <%= f.label :instrument_id %><br >
    <%= f.collection_select :instrument_id, @instruments, :id, :name, {prompt: "楽器を選択してください"} %>
  </div>

  <div class="field">
    <%= f.label :title %><br >
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %><br >
    <%= f.text_field :description %>
  </div>

  <%= f.submit "アップロード" %>
<% end %>
