<h1>プレイリストに追加</h1>

<%# 既存のプレイリストを表示 -> 追加 %>
<div class="checkbox">
  <%= form_with model: @user, url: add_playlist_path do |f| %>
    <%= f.collection_check_boxes(:sound_post.playlist_ids, Playlist.all, :id, :title) do |b| %>
      <%= b.label { b.check_box + b.text } %>
    <% end %>
  <% end %>
</div>

<%# 新規プレイリストを作成 %>
<%= form_with model: @playlist, url: playlists_path, method: :post do |f| %>
  <%= f.label :title, "タイトル" %><br >
  <%= f.text_field :title %>

  <%= f.submit "プレイリストに追加" %>
<% end %>
