<div class="top-page-wrapper">
  <%= render partial: 'shared/side_section' %>

  <div class="main-content-wrapper">
    <div class="container">
      <h3 class="new-file-title">プレイリストを作成</h3>

      <%= @sound_post %>
      <%# 新規プレイリストを作成 %>
      <%= form_with model: @playlist do |f| %>
        <%= f.label :title, "タイトル" %><br >
        <%= f.text_field :title %><br >

        <% if @sound_post.present? %>
          <%= hidden_field_tag :sound_post_id, @sound_post.id %>
          <%= f.submit "プレイリストを作成する（投稿から）" %>
        <% else %>
          <%= f.submit "プレイリストを作成" %>
        <% end %>

      <% end %>
    </div>
  </div>
</div>
