<h1>プレイリストの詳細</h1>

プレイリスト名：<%= @playlist.title %><br >

<% @playlist.sound_posts.each do |sound_post| %>
  <%= sound_post.title %><br >
  <%= sound_post.description %><br >
  <%# 楽器の名前を表示 %%>
  <%= sound_post.instrument.name %><br >
  <audio src="<%= "#{sound_post.sound_source}" %>" controls="">
    <!-- <a src="<%= "#{sound_post.sound_source}" %>">ダウンロード</a> -->
  </audio>
<% end %>
