<h1>プレイリストに追加</h1>

<%= form_with model: sound_post, url: sound_post_playlists_path, method: :post do |f| %>
  <%= f.collection_check_boxes :playlist_ids, playlists, :id, :title, include_hidden: false do |b| %>
    <%= b.label { b.check_box + b.text } %><br >
  <% end %>
  <%= f.hidden_field :sound_post_id, value: sound_post.id %>
  <%= f.submit "保存する", class: 'btn btn-primary', id: 'save-button' %>
<% end %>

<%# 新規プレイリストを作成 %>
<%= link_to '＋新規プレイリストを作成', new_playlist_path(sound_post_id: sound_post.id), remote: true %>
